In [ ]:
# Murphy Campbell
# email: murphybcampbell@googlemail.com

# TTA Data Academy Home Learning: Session 3

# Reference: https://www.w3schools.com/python/default.asp 
# Reference: https://www.python.org
# Reference: https://numpy.org

import numpy as np

In [ ]:
# Murphy Campbell
# email: murphybcampbell@googlemail.com

# TTA Data Academy Home Learning: Session 3

# Task 1
# Write a program that allows you to enter 4 numbers
# and stores them in a file called “Numbers” , 3, 45, 83, 21
# Have a go at ‘w’ ‘r’ ‘a’


import numpy as np

mylist = [0 for i in range(20)]
# Initialize list filled with 20 zeros
file_hdw = open('easy.txt',"w")
print("Please enter each of the number 3, 45, 83, 21")


for i in range(0,4):
 
 print(f"{i+1} Enter a number ")
 mylist[i] = str(input().split(', '))
 # Split keyed in numbers store in list

for i in range(0,4):
 file_hdw.write(mylist[i])
 # write list to file
file_hdw.close()


## Appending section ##
file_hdw = open('easy.txt',"a")
# Open file in append mode
n = 4
while (n < 7):

  print(f" Enter three more numbers ")
  mylist[n] = str(input().split(', ')) 
  n = n + 1

m = 4
while (m < 7):
  file_hdw.write(mylist[m])
  m = m + 1

file_hdw.close()  

 


file_hdr = open("easy.txt","r")
data = file_hdr.read()
# Read file 
file_hdr.close()

print(f"These are the numbers you have entered{data}")
# Print data in the file

Please enter each of the number 3, 45, 83, 21
1 Enter a number
3
2 Enter a number
45
3 Enter a number
83
4 Enter a number
21
 Enter three more numbers
55
 Enter three more numbers
78
 Enter three more numbers
9
These are the numbers you have entered['3']['45']['83']['21']['55']['78']['9']

In [ ]:
# Murphy Campbell
# email: murphybcampbell@googlemail.com

# TTA Data Academy Home Learning: Session 3


# Write a program to ask a student for their percentage mark
# and convert this to a grade.
# The conversion will be done in a function called mark_grade

import numpy as np


mark = 0
grade = ""
x = mark 

def mark_grade(mark):
   x = int(mark)

   if (80 <= x <= 100):
     print('Your grade is "A" Top of the class')
     
   
   if (65 <= x <= 80):
     print('Your grade is "B" Well done')
     

   if (50 <= x <= 65):
     print('Your grade is "C" Keep working')

   if (40 <= x <= 50):
     print('Your grade is "D" Do not give up on your class')

   if (30 <= x <= 40):
     print('Your grade is "E" Keep going')

   if (0 <= x <= 30):
     print('Your grade is "F" You cannot be graded, try next term')
   
     

   #else:
     #print("Practice makes perfect")  

   return(grade)



  

print("Enter your mark")
mark = input()
result = mark_grade(mark)

Enter your mark
34
Your grade is "E" Keep going

In [ ]:
# Murphy Campbell
# email: murphybcampbell@googlemail.com

# TTA Data Academy Home Learning: Session 3

# Extension to Task 2

# Ask the user for their target grade and print this with their mark
# If their target grade > exam grade display a suitable message

# If their target grade = exam grade display a suitable mesaage
# If their target grade < exam grade display a suitable message

import numpy as np



mark = ""
grade = ""
x = mark 
ops = {}
ops1 = {}
num = 0
exam_grade = "B"
grade_in = ""


def mark_grade(mark):       # Defined mark_grade function
    global grade
    global x
    char = str(grade)
    

    ops = { "A":'"Your target grade is "A", You require a mark that is at least 80%"',                
            "B":'"Your target grade is "B",You require a mark that is at least 65%"',               
            "C":'"Your target grade is "C",You require a mark that is at least 50%"',
            "D":'"Your target grade is "D",You require a mark that is at least 40%"',
            "E":'"Your target grade is "E",You require a mark that is at least 30%"',
            "F":'"Your target grade is "F",Your work cannot be graded"',
             }
    grade = ops[char]
    


    return(grade)




grade = input().upper()
grade_in = grade





result = mark_grade(grade)
print(result)




ops1 =  { "A":'"Gifted learner"',                
          "B":'"Very Good"',               
          "C":'"keep working"',
          "E":'"Keep working"',
          "F":'"Keep working"'
        }

print(ops1[grade_in])

a
"Your target grade is "A", You require a mark that is at least 80%"
"Gifted learner"

In [ ]:
# Murphy Campbell
# email: murphybcampbell@googlemail.com

# TTA Data Academy Home Learning: Session 3

import numpy as np


# 1. Create a 1D array of numbers from 0 to 9

vector = np.arange(0,10)
print(vector)

In [ ]:
# Murphy Campbell
# email: murphybcampbell@googlemail.com

# TTA Data Academy Home Learning: Session 3

import numpy as np


# 2. Create a 3×3 NumPy array of all Boolean value True

a = np.ones(9)
# Using numPy ones function to fill a array with nine ones 
b = np.array(a,dtype=bool)
# Cast the array of nine ones to data type bool
c = b.reshape(3,3) 
# Use the reshape function 
c

In [ ]:
# Murphy Campbell
# email: murphybcampbell@googlemail.com

# TTA Data Academy Home Learning: Session 3


# 3.  Extract all odd numbers from array of 1-10

import numpy as np


vect = np.arange(1,10, dtype=int)
# Construcr a numpy one dimension(vector) array with integers range 1 to 10

vecta = np.mod(vect,2)
# Take modulas of the elements in array 
vectb = np.multiply(vecta,vect)
# Muliply arrays to get odd numbers

vect_odd = np.extract(vectb >=1, vectb)
# Extract odd numbers

vect_odd

## Trying Another solution

vect_d1 = np.where(vect % 2)
# vect_odd1 = np.extract(vect_d1 >=1, vect_d1)



#vect_d1

In [ ]:
# Murphy Campbell
# email: murphybcampbell@googlemail.com

# TTA Data Academy Home Learning: Session 3


import numpy as np

# Trying out 2 Dimension array ###

# Extract all odd numbers from array of 1-10

D1 = np.arange(1,11, dtype=int) 
# Construcr a numpy one dimension(vector) array with integers range 1 to 10
D2_5 = D1.reshape(2,5)
# Reshape to 2 dimension array, 2 rows,5 cols
print(D2_5)
type(D2_5)
D2_5a = np.mod(D2_5,2)
# Take modulas of the elements in array 
D2_5m = np.multiply(D2_5,D2_5a)
# Muliply arrays to get odd numbers
D2_5m_odd = np.nonzero(D2_5m)
# Select odd numbers from the array 

print(D2_5a)
print(D2_5m)
print(D2_5m_odd)

In [ ]:

# Murphy Campbell
# email: murphybcampbell@googlemail.com

# TTA Data Academy Home Learning: Session 3


# 4. Replace all odd numbers in an array of 1-10 with the value -1

import numpy as np

vect = np.arange(1,10, dtype=int)
# Construcr a numpy one dimension(vector) array with integers range 1 to 10

vecta = np.mod(vect,2)
# Take modulas of the elements in array 
vectb = np.multiply(vecta,vect)
# Muliply arrays to get odd numbers

vect_odd = np.extract(vectb >=1, vectb)
# Extract odd numbers

In [ ]:
# Murphy Campbell
# email: murphybcampbell@googlemail.com

# TTA Data Academy Home Learning: Session 3


# 5. Convert a 1D array to a 2D array with 2 rows

import numpy as np

array_1D = np.arange(1,11)
array_2D = array_1D.reshape(2,5)
print(array_2D)

In [ ]:
# Murphy Campbell
# email: murphybcampbell@googlemail.com

# TTA Data Academy Home Learning: Session 3

import numpy as np

# 6. Create two arrays a and b, stack these two arrays vertically 
#     use the np.dot and np.sum to calculate totals

#array_a, array_b = np.arange(1,6),np.arange(6,11)
array_a, array_b = np.arange(1,3),np.arange(3,5)
array_v = np.vstack((array_a, array_b))
# Vertically stacked arrays

array_v

print(np.dot(array_a,array_b))
print(np.sum(array_v))
 
# Used the np.dot and np.sum to multiply and add the arrays

In [ ]:
# Murphy Campbell
# email: murphybcampbell@googlemail.com

# TTA Data Academy Home Learning: Session 3


# Extension:

# 1. Create the following pattern without hardcoding. Use only NumPy functions.
#   array([1,1,1,2,2,2,3,3,3,1,2,3,1,2,3,1,2,3])

import numpy as np


num2 = int(2)
num3 = int(3)

# Configure array of 3 ones with integer data type
array_1 = np.ones((3,1),dtype = np.int)
# Scalar multiplication by 2 of array
array_2 = np.multiply(num2,array_1)
# Scalar multiplication by 3 of array
array_3 = np.multiply(num3,array_1)

array_all_h = np.hstack((array_1,array_2,array_3)).reshape(1,9)
# Stack arrays horizontally and reshape with 1 row and 9 cols
array_all_v = np.vstack((array_1,array_2,array_3)).reshape(1,9)
# Stack arrays Vertically and reshape with 1 row and 9 cols


array_full = np.hstack((array_all_v, array_all_h))
# Stack arrays horizontally


array_full

In [ ]:
# Murphy Campbell
# email: murphybcampbell@googlemail.com

# TTA Data Academy Home Learning: Session 3

# 2. In two arrays a ( 1,2,3,4,5) and b ( 4,5,6,7,8,9) 
#     – remove all repeating items present in array b

import numpy as np

a1 = np.arange(1,6)

b1 = np.arange(4,10)


mask = np.isin(a1,b1)
# Using np.isin() function with array a1 elements as the input
# b1 elements as the testing elements
# 
# Boolean array is returned where match values being True, 
# and unmatched values False

a1[mask]
# Returns a flatten array from a1 array elements where 
# the mask array element is True.

In [ ]:


# Murphy Campbell
# email: murphybcampbell@googlemail.com

# TTA Data Academy Home Learning: Session 3

# 3.  Get all items between 3 and 7 from a and b and sum them together


import numpy as np

a1 = np.arange(1,6)
b1= np.arange(4,10)



a1_ex = np.extract(a1 <=3, a1 >=7)
b1_ex = np.extract(b1 <=7, b1 >=3)

arry_stack = np.hstack((a1_ex,b1_ex))

np.sum(arry_stack)

4